.titre{

    color: #366FBC;
    text-align: center;
    margin-top: 30px;
}

.table{

    border: 1px solid #FF8800;
    background-color: #A9E5F8;
    text-align: center;
    margin: 30px 30px 0px 0px;
    width: 1800px;
    
}


