<h1 class="titre">Liste des Participants</h1>

<table class="table table-bordered">

    <thead>

      <tr>

        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Code Postal</th>
        <th scope="col">Villes</th>
        <th scope="col">Date de Naissance</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Email</th>
        <th scope="col">Nom du Tuteur</th>
        <th scope="col">Prénom du tuteur</th>
        <th scope="col">Document</th>
        <th scope="col">Pôle 1</th>
        <th scope="col">Pôle 2</th>
        <th scope="col">Information</th>
        <th scope="col"></th>

      </tr>

    </thead>

    <tbody>

      <tr>

        <td>lejosne</td>
        <td>yannick</td>
        <td>126 boulevard ernest hemingway</td>
        <td>34500</td>
        <td>béziers</td>
        <td>17/10/1987</td>
        <td>0626840008</td>
        <td>BWB.y.lejosne@fondespierre.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>BIG BOSS</td>
        <td>
          <a [routerLink]="['/participant/details']"><span class="material-icons detailsAct">info</span></a>
          <span class="material-icons editAct">edit</span>
          <span class="material-icons deleteAct">delete</span>
        </td>

      </tr>

    </tbody>

  </table>