h1{
    color: #366FBC;
    text-align: center;
    margin-top: 30px;
}

table{
    text-align: center;
    width: 800px;
    margin-top: 30px;
    background-color: #A9E5F8;
    border: 3px solid #FF8800;
}

.body{
    background-color: #A9E5F8;
    border: 3px solid #FF8800;
    width: 800px;
    text-align: center;
}

.titreForm{
    background-color: #FF8800;
    text-align: center;
    border-radius: 0px 0px 100px 100px;
    font-weight: bold;
    width: 400px;
    margin-left: 180px;
}

form{
    margin-top: 10px;
    margin-bottom: 10px;
}